@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-paper-50 text-ink-500 font-mono;
  }

  ::selection {
    @apply bg-ink-500 text-paper-50;
  }
}

@layer utilities {
  .border-hairline {
    border-width: 0.5px;
  }

  .text-balance {
    text-wrap: balance;
  }
}
